# Video Game Sales Analysis: A Comparison between Profressional and Audience Reviews

## Introduction

In the modern age, the internet has set down deep roots within society, letting humans communicate their experiences and opinions across the globe. However, an interesting phenomena that has reared it's head over the last couple of decades has been the differing opinions of professional critics and your average consumer when it comes to reviewing entertainment.

However, if the theory that the quality and review of the entertainment correlates with the amount of sales, then who is correct in this assumption?

In this study, I am going to dive into the video game market, and study if there is a correlation between the sales amount and the review score of both the consumer and the critic.

I will be documenting each step of my study, for educational purposes.

***

## The Datasets

***Global Video Game Sales (vgsales)***: The original dataset only had games up to 2020. For this analysis, I will only be looking at games made up to 2020. It also seems to lack Switch games.

***Metacritic Dataset***: This consists of a dataset that collates a list of games and their user review and meta critic scores.



***

## Important contextual information and how it may affect the analysis

There are a few things we need to take into context before we step into analysis.

When it comes to sales, there are a multiple of reasons which could affect sales. Even though for this analysis, we are simply looking at reviews, this is not the only reason as to why.

Just because a game is critically acclaimed, it doesn't mean it's a quality game. However, sometimes, games receive good reviews *because* it's a quality product. Some games may receive critical acclaim because of nostalgia, perhaps. Within this analysis, we lose a lot of this context as the datasets do not provide them. I also, at this point, do not have the apititude to find, scrap or pull this data from anywhere. However, it'll be something I will look at the future.

Another thing that could affect sales data, are flagship products. There are many games that are shipped with the first bundle of a consoles release. One of these examples is Wii Sports. It ranks at the top of sales within this dataset. However, this is most likely due to the fact that the Wii Sports was the flagship game that was sold with every most, if not all, purchases of the Wii when it came out. The Wii has been sold over 100 million times. Despite this, it only has a 76 score on Metacritic and a 7.9 audience score. This does not mean the reviews did not have an effect, however it's an important bit of context to keep in mind when looking at the final data.

## Checking the Global Video Game Sales Data (vgsales)

Pull in your usual libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Let's pull in the first dataset, the VGsales dataset.

Now, the data sets should be clean before I pull them in, as the datasets were highly rated on Kaggle. However to be sure, and for my own practice, let's do some prelimanary checks to make sure there's nothing abnormal about the set.

Also, what's worth noting, is my analysis may require the dataset to be organised in a different fashion instead of what is needed.

Let's explore the dataset to have a look.

In [2]:
vgsales_data = pd.read_csv('Data/vgsales.csv')
vgsales_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

So, our columns to work with are:

- Rank
- Name
- Platform
- Year
- Genre
- Publisher
- NA_Sales
- EU_Sales
- JP_Sales
- Other_Sales
- Global_Sales

Since we are looking at how critic reviews and audience reviews affect a games sales, there are a few columns that pose an interesting question. These are also things to look at later on with the dataset.

1. Do platforms the games are released on heavily affect the reviews? Is there a large swing in the IQR between the platforms?
2. Do we want to take a more high-level overview of the data, and compile all platforms together? Will doing so lose the unique specific context provided by keeping the platforms separately?
3. Do games of the same name with a variety of release years affect review scores?
4. Do these reviews change from region to region?

I think for our first goal, it may be smart to look at the high level data, potentially losing the nuance between the platforms and the release dates. However, after we've analysed it from a high-level point of view, I will be interested in diving deeper into the data and looking into the nuances.

For now, let's continue with checking the integrity of this dataset.

In [3]:
## Check the beginning of the dataframe

vgsales_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
## Check the end of the dataframe

vgsales_data.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [5]:
## Check if there are any missing values

vgsales_data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
## Let's use df.describe to check for any outliers

vgsales_data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [7]:
## Check that data types in each column, and make sure they are the types they need to be.

vgsales_data.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

The only discrepency here is that years are generally better as integers and not float points. It's become a float point however, due to there being NaNs within the column.

So we need to think about the best practice here. Do we remove the rows with no year values? Is it perhaps better to insert a placeholder?

For now, let's shelve this issue into our "To-do list" and check the rest of the integirty of the dataset.

In [8]:
## Count the value of rows with an identical name.

vgsales_data['Name'].value_counts()

Name
Need for Speed: Most Wanted                12
Ratatouille                                 9
FIFA 14                                     9
LEGO Marvel Super Heroes                    9
Madden NFL 07                               9
                                           ..
Ar tonelico Qoga: Knell of Ar Ciel          1
Galaga: Destination Earth                   1
Nintendo Presents: Crossword Collection     1
TrackMania: Build to Race                   1
Know How 2                                  1
Name: count, Length: 11493, dtype: int64

This could be another issue. As we can see of the above, there are multiple games with the same name. We should explore some of these and see what the rest of the rows say. I theorise it is because each platform is separated into each row, but we need to check.

In [9]:
## Create a list of games whose name appears more than 1 time.
name_duplicates = vgsales_data['Name'].value_counts()
name_duplicates = name_duplicates[name_duplicates > 1].index.tolist()

## Create a copy of the main table, filtering by names that appear on the name_duplicates list above.
## We create a copy to preserve the "raw" data in the dataset, incase we need to correct any mistakes.
vgsales_filtered_dups = vgsales_data[vgsales_data['Name'].isin(name_duplicates)]
vgsales_filtered_dups

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
...,...,...,...,...,...,...,...,...,...,...,...
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

The issue is, we still have 7880 rows, which is too many to simply look into one by one. We could just ouput this into an excel chart and look manually, and if this wasn't a training project, it's a step I would take. Instead, for the sake of practice, I will try to utilise Pandas more.

Let's start looking at the games with the highest values first. Need for Speed: Most Wanted, Ratatouille, and FIFA 14.

In [10]:
## Check the data for 'Need for Speed: Most Wanted', the game with the most rows
vgsales_filtered_dups[vgsales_filtered_dups['Name'] == "Need for Speed: Most Wanted"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
252,253,Need for Speed: Most Wanted,PS2,2005.0,Racing,Electronic Arts,2.03,1.79,0.08,0.47,4.37
498,499,Need for Speed: Most Wanted,PS3,2012.0,Racing,Electronic Arts,0.71,1.51,0.06,0.61,2.89
1173,1175,Need for Speed: Most Wanted,X360,2012.0,Racing,Electronic Arts,0.62,0.80,0.01,0.15,1.58
1530,1532,Need for Speed: Most Wanted,X360,2005.0,Racing,Electronic Arts,1.00,0.17,0.02,0.10,1.29
1742,1744,Need for Speed: Most Wanted,PSV,2012.0,Racing,Electronic Arts,0.38,0.52,0.01,0.25,1.16
2005,2007,Need for Speed: Most Wanted,XB,2005.0,Racing,Electronic Arts,0.53,0.46,0.00,0.05,1.04
3585,3587,Need for Speed: Most Wanted,GC,2005.0,Racing,Electronic Arts,0.43,0.11,0.00,0.02,0.56
5900,5902,Need for Speed: Most Wanted,PC,2005.0,Racing,Electronic Arts,0.02,0.23,0.00,0.05,0.30
6149,6151,Need for Speed: Most Wanted,WiiU,2013.0,Racing,Electronic Arts,0.14,0.12,0.00,0.02,0.28
6278,6280,Need for Speed: Most Wanted,DS,2005.0,Racing,Electronic Arts,0.24,0.01,0.00,0.02,0.27
6492,6494,Need for Speed: Most Wanted,GBA,2005.0,Racing,Electronic Arts,0.19,0.07,0.00,0.00,0.26
11676,11678,Need for Speed: Most Wanted,PC,2012.0,Racing,Electronic Arts,0.00,0.06,0.00,0.02,0.08

In [11]:
## Check the data for 'Need for Speed: Most Wanted', the game with the second most rows
vgsales_filtered_dups[vgsales_filtered_dups['Name'] == "Ratatouille"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1578,1580,Ratatouille,DS,2007.0,Action,THQ,0.50,0.62,0.0,0.14,1.26
2445,2447,Ratatouille,PS2,2007.0,Action,THQ,0.31,0.00,0.0,0.53,0.85
3029,3031,Ratatouille,PSP,2007.0,Action,THQ,0.22,0.28,0.0,0.16,0.67
3851,3853,Ratatouille,PS3,2007.0,Action,THQ,0.09,0.32,0.0,0.11,0.52
3857,3859,Ratatouille,Wii,2007.0,Action,THQ,0.44,0.04,0.0,0.04,0.52
6383,6385,Ratatouille,X360,2007.0,Action,THQ,0.23,0.02,0.0,0.02,0.27
7703,7705,Ratatouille,GBA,2007.0,Action,THQ,0.14,0.05,0.0,0.00,0.20
9025,9027,Ratatouille,GC,2007.0,Action,THQ,0.11,0.03,0.0,0.00,0.14
14395,14398,Ratatouille,PC,2007.0,Action,THQ,0.01,0.01,0.0,0.00,0.03

In [12]:
## Check the data for 'Need for Speed: Most Wanted', the game with the third most rows
vgsales_filtered_dups[vgsales_filtered_dups['Name'] == "FIFA 14"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
112,113,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.32,0.07,1.73,6.90
256,257,FIFA 14,X360,2013.0,Sports,Electronic Arts,0.92,2.93,0.01,0.46,4.31
493,494,FIFA 14,PS4,2013.0,Sports,Electronic Arts,0.61,1.85,0.11,0.33,2.90
1698,1700,FIFA 14,XOne,2013.0,Sports,Electronic Arts,0.41,0.66,0.00,0.12,1.19
3988,3990,FIFA 14,PSV,2013.0,Sports,Electronic Arts,0.11,0.25,0.01,0.13,0.50
4503,4505,FIFA 14,PC,2013.0,Sports,Electronic Arts,0.01,0.36,0.00,0.06,0.43
4538,4540,FIFA 14,Wii,2013.0,Sports,Electronic Arts,0.00,0.38,0.00,0.05,0.43
6661,6663,FIFA 14,3DS,2013.0,Sports,Electronic Arts,0.00,0.23,0.00,0.03,0.25
7034,7036,FIFA 14,PSP,2013.0,Sports,Electronic Arts,0.00,0.16,0.00,0.07,0.23

In [13]:
## Check the data for 'Need for Speed: Most Wanted', the game with the least rows
vgsales_filtered_dups[vgsales_filtered_dups['Name'] == "Spirits & Spells"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15675,15678,Spirits & Spells,GC,2003.0,Platform,Wanadoo,0.01,0.0,0.0,0.0,0.02
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.0,0.0,0.0,0.01

It's as we theorised, each row is the data of a different console. This comes hand in hand with our task of fixing the years, and if we change them into integers and remove the years will null data. Again, let's add this to our To-do List.

## Cleaning the Dataset for Analysis

Let's have a look at our To-do List and the issues we need to consider.

**To-do List**
- *Make a decision on how to deal with year data types*
- *Make a decision on how to deal with missing publisher data*
- *Do we merge and combine all platforms into one, even with different years?*

First off, Task #2 is easy to handle. We can simply fill in all empty "Publisher" types with 'Unknown'. Generally, we do not plan to utilise this column as much, but for future analysis, we'll fill it in and change the column to strings.

However, Task #1 and Task #3 are connected somewhat. We can take a few directions here.

1. We remove all yearly data as it *may not* be relevant to our overall goal of looking at the correlation between reviews and sales. This will help with us combining the platforms together. This will remove added context, but again, it will help with over high-level view.
2. We change all singular years into either decades or quinquennials. This is less effective however, as some games were released across decades, or within the first half and then the laster half of a decade. This may fix Task #1, but it will not fix Task #3. We would not be able to combine all platforms of a game together if they are separated across multiple decades or quinquennials.
3. We fix the empty years by filling them with a placeholder number, such as 1900. However, we run into the same issue as we do seen above, as we cannot resolve Task #3 then and are unable to combine all platforms together.

So, the most logical sense is to split the analysis into two parts. A high level analysis, stripping away all date and platform related data, and then a deep dive analysis into utilising the platforms and dates as a means to check if our higher level analysis holds any value.

So to re-organise these goals, I'll list them out.

**New Goals**

1. Is there a correlation between the amount of sales a game received and the review score of both the consumer and the critic based on a dataset that is platform agnostic and release date agnostic.
2. When platform and release are taken into account, does the findings of more complex data confirm the findings in the first analysis?

Now, let's tailor the datasets to what is required.

In [14]:
## Make a copy of the main dataset

modified_vgsales_data = vgsales_data
modified_vgsales_data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [15]:
## Remove the Year Column
modified_vgsales_data = modified_vgsales_data.drop('Year', axis=1)

## Remove the Platform Column since we no longer need it
modified_vgsales_data = modified_vgsales_data.drop('Platform', axis=1)

## Remove the Rank Column, and we can re-rank them if necessary later.
modified_vgsales_data = modified_vgsales_data.drop('Rank', axis=1)

## Fill all NaN cells with "Unknown". Since only Publisher column has NaN, then only those will be filled.
modified_vgsales_data['Publisher'] = modified_vgsales_data['Publisher'].fillna("Unknown")

modified_vgsales_data

,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [16]:
##  Check if all NaNs have been removed
modified_vgsales_data.isnull().sum()

Name            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [17]:
## We need to group all the data within the table by name, and aggregate all of the sales data together.
## We can do this by using a dictionary and the groupby function.

modified_vgsales_data = modified_vgsales_data.groupby('Name').agg({
    'Genre': 'first',  # We want these to stay the same as there are no duplicates here.
    'Publisher': 'first', # We want these to stay the same as there are no duplicates here.
    'NA_Sales': 'sum',
    'EU_Sales': 'sum',
    'JP_Sales': 'sum',
    'Other_Sales': 'sum',
    'Global_Sales': 'sum'
}).reset_index()

modified_vgsales_data

,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,'98 Koshien,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
1,.hack//G.U. Vol.1//Rebirth,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
2,.hack//G.U. Vol.2//Reminisce,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
3,.hack//G.U. Vol.2//Reminisce (jp sales),Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
4,.hack//G.U. Vol.3//Redemption,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
...,...,...,...,...,...,...,...,...
11488,thinkSMART: Chess for Kids,Misc,Mentor Interactive,0.01,0.00,0.00,0.00,0.01
11489,uDraw Studio,Misc,THQ,1.67,0.58,0.00,0.20,2.46
11490,uDraw Studio: Instant Artist,Misc,THQ,0.09,0.10,0.00,0.02,0.21
11491,wwe Smackdown vs. Raw 2006,Fighting,Unknown,1.57,1.02,0.00,0.41,3.00
11492,¡Shin Chan Flipa en colores!,Platform,505 Games,0.00,0.00,0.14,0.00,0.14

In [18]:
## Sort the list by the Global Sales, and reassign the index 

modified_vgsales_data = modified_vgsales_data.sort_values(by='Global_Sales', ascending=False, ignore_index=True)
modified_vgsales_data

,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Grand Theft Auto V,Action,Take-Two Interactive,23.46,23.04,1.39,8.03,55.92
2,Super Mario Bros.,Platform,Nintendo,32.48,4.88,6.96,0.99,45.31
3,Tetris,Puzzle,Nintendo,26.17,2.95,6.03,0.69,35.84
4,Mario Kart Wii,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
...,...,...,...,...,...,...,...,...
11488,Codename: Panzers Phase Two,Strategy,CDV Software Entertainment,0.00,0.01,0.00,0.00,0.01
11489,Tengai Makyo: Dai Yon no Mokushiroku,Role-Playing,Hudson Soft,0.00,0.00,0.01,0.00,0.01
11490,Jewel Quest II,Puzzle,Avanquest,0.00,0.01,0.00,0.00,0.01
11491,Tenjin Ranman: Happy GO Lucky!!,Adventure,Russel,0.00,0.00,0.01,0.00,0.01
11492,Dark Parables: The Exiled Prince,Puzzle,Unknown,0.00,0.01,0.00,0.00,0.01

In [19]:
## Perform one last check on unique values

modified_vgsales_data['Name'].value_counts()

Name
Wii Sports                                               1
GripShift                                                1
ChuChu Rocket!                                           1
Invasion From Beyond                                     1
Blood of Bahamut                                         1
                                                        ..
Bugs Bunny: Lost in Time                                 1
Final Fantasy Crystal Chronicles: The Crystal Bearers    1
NCAA GameBreaker 2000                                    1
Alvin and the Chipmunks: The Squeakquel                  1
Dark Parables: The Exiled Prince                         1
Name: count, Length: 11493, dtype: int64

Now we have sales data ready to be used and compared against the review data with the Metacritic dataset. We will need to take the same steps as we did before for that as well. But first, we'll export this dataset.

In [20]:
##modified_vgsales_data.to_csv('Data/Modified Datasets/modified_vgsales.csv', index=True)

## Checking the Meta Critic Data (metacritic)

Let's pull in the Metacritic dataset and see what we have on our hands.

In [21]:
critic_data = pd.read_csv('Data/metacritic.csv')
critic_data

,name,platform,release_date,summary,metascore,userscore
0,! SPACE ACCIDENT !,PC,"February 10, 2022",The year is 2119. A turning point has begun in...,tbd,tbd
1,! That Bastard Is Trying To Steal Our Gold !,PC,"May 11, 2014",It's a fun puzzle game where you need to steal...,tbd,3.4
2,!4RC4N01D!,PC,"January 12, 2018",Hardcore arkanoid in the spirit of old games f...,tbd,4.0
3,!4RC4N01D! 2: Retro Edition,PC,"February 6, 2018","Everyone dreams of returning 2007, but no one ...",tbd,3.8
4,!4RC4N01D! 3: Cold Space,PC,"March 8, 2018",!4RC4N01D! returns! This time we have an accid...,tbd,3.0
...,...,...,...,...,...,...
142412,{Undefined},PC,"August 20, 2021","A sandbox survival game, set on life-sized vox...",tbd,tbd
142413,~ Daydream ~,PC,"May 26, 2022",~Daydream~is an action 2D platform jumping gam...,tbd,tbd
142414,~Azur Ring~virgin and slave's phylacteries,PC,"July 17, 2020",New DIABLO-Like adventure game. Legendary gear...,tbd,tbd
142415,~Gigantify~,PC,"January 23, 2022",This is a small Puzzle Platformer where you dy...,tbd,tbd
142416,~necromancy~Emily's Escape,PC,"December 21, 2018",The necromancer employs forbidden spells and p...,tbd,tbd

To not repeat myself, I'm going to do the exact same checks as I made on the other dataset.

In [22]:
critic_data.head()

,name,platform,release_date,summary,metascore,userscore
0,! SPACE ACCIDENT !,PC,"February 10, 2022",The year is 2119. A turning point has begun in...,tbd,tbd
1,! That Bastard Is Trying To Steal Our Gold !,PC,"May 11, 2014",It's a fun puzzle game where you need to steal...,tbd,3.4
2,!4RC4N01D!,PC,"January 12, 2018",Hardcore arkanoid in the spirit of old games f...,tbd,4.0
3,!4RC4N01D! 2: Retro Edition,PC,"February 6, 2018","Everyone dreams of returning 2007, but no one ...",tbd,3.8
4,!4RC4N01D! 3: Cold Space,PC,"March 8, 2018",!4RC4N01D! returns! This time we have an accid...,tbd,3.0

In [23]:
critic_data.tail()

,name,platform,release_date,summary,metascore,userscore
142412,{Undefined},PC,"August 20, 2021","A sandbox survival game, set on life-sized vox...",tbd,tbd
142413,~ Daydream ~,PC,"May 26, 2022",~Daydream~is an action 2D platform jumping gam...,tbd,tbd
142414,~Azur Ring~virgin and slave's phylacteries,PC,"July 17, 2020",New DIABLO-Like adventure game. Legendary gear...,tbd,tbd
142415,~Gigantify~,PC,"January 23, 2022",This is a small Puzzle Platformer where you dy...,tbd,tbd
142416,~necromancy~Emily's Escape,PC,"December 21, 2018",The necromancer employs forbidden spells and p...,tbd,tbd

In [24]:
critic_data.isnull().sum()

name                0
platform            0
release_date        0
summary         17715
metascore           0
userscore           0
dtype: int64

In [25]:
critic_data.describe()

,name,platform,release_date,summary,metascore,userscore
count,142417,142417,142417,124702,142417,142417
unique,108088,23,8066,104061,91,101
top,Terraria,PC,"September 30, 2021",This game is a classic puzzle game with severa...,tbd,tbd
freq,11,80803,169,26,112155,105986

In [26]:
critic_data.dtypes

name            object
platform        object
release_date    object
summary         object
metascore       object
userscore       object
dtype: object

In [27]:
critic_data['name'].value_counts()

name
Terraria                           11
Angry Birds Star Wars              10
LEGO Jurassic World                10
Madden NFL 07                      10
FIFA Soccer 13                     10
                                   ..
Grape Jelly                         1
Granny: Chapter Two                 1
Granny's Grantastic Granventure     1
Granny vs Zombies                   1
~necromancy~Emily's Escape          1
Name: count, Length: 108088, dtype: int64

Seems like we have multiple duplications of the same type again. 

Since we've decided to aggregate all the data into the unique values in the first dataset, then in order to join and get the correct values, we need to do the same here. Let's just check at how this works within this dataset however.

In [28]:
## Create a list of games whose name appears more than 1 time.
critic_name_duplicates = critic_data['name'].value_counts()
critic_name_duplicates = critic_name_duplicates[critic_name_duplicates > 1].index.tolist()

## Create a copy of the main table, filtering by names that appear on the name_duplicates list above.
## We create a copy to preserve the "raw" data in the dataset, incase we need to correct any mistakes.
critic_filtered_dups = critic_data[critic_data['name'].isin(critic_name_duplicates)]
critic_filtered_dups

,name,platform,release_date,summary,metascore,userscore
33,#Funtime,Switch,"July 16, 2020",#Funtime is an explosive twin-stick shooter wh...,tbd,tbd
34,#Funtime,Xbox One,"July 16, 2020",#Funtime is an explosive twin-stick shooter wh...,tbd,tbd
35,#Funtime,PC,"July 16, 2020",#Funtime is an explosive twin-stick shooter wh...,tbd,5.6
36,#Funtime,PlayStation 4,"July 16, 2020",#Funtime is an explosive twin-stick shooter wh...,tbd,tbd
40,#KILLALLZOMBIES,Xbox One,"August 10, 2016",In the distant future; #KILLALLZOMBIES is thru...,53,tbd
...,...,...,...,...,...,...
142379,while True: learn,PlayStation 4,"July 7, 2020",while True: learn() is a puzzle/simulation gam...,tbd,tbd
142380,while True: learn,Switch,"April 16, 2020",while True: learn() is a puzzle/simulation gam...,tbd,tbd
142381,while True: learn,PC,"January 17, 2019",while True: learn- is a simulator of a machine...,73,6.2
142389,wurdweb,PC,"November 1, 2022",Word puzzles with Sunday morning vibes.\r\n\r\...,tbd,tbd
142390,wurdweb,iOS,"August 13, 2021",Word puzzles with Sunday morning vibes.\r\n\r\...,tbd,tbd

In [29]:
## Check the data for 'Terraria', the game with the second most rows
critic_filtered_dups[critic_filtered_dups['name'] == "Terraria"]

,name,platform,release_date,summary,metascore,userscore
118796,Terraria,Stadia,"March 18, 2021",Terraria? What's that?\r\n\r\nTerraria is a la...,tbd,6.9
118797,Terraria,PlayStation Vita,"December 17, 2013","Terraria is a side-scrolling, action-adventure...",85,8.0
118798,Terraria,Xbox 360,"March 27, 2013",Terraria? What's that?\r\n\r\nTerraria is a la...,81,7.3
118799,Terraria,Wii U,"June 16, 2016",Terraria? What's that?\r\n\r\nTerraria is a la...,tbd,7.3
118800,Terraria,Xbox One,"November 14, 2014",Terraria? What's that?\r\n\r\nTerraria is a la...,84,8.0
118801,Terraria,PlayStation 4,"November 11, 2014",Terraria? What's that?\r\n\r\nTerraria is a la...,83,7.8
118802,Terraria,PlayStation 3,"March 26, 2013",Terraria? What's that?\r\n\r\nTerraria is a la...,81,8.1
118803,Terraria,Switch,"June 27, 2019",Terraria? What's that?\r\n\r\nTerraria is a la...,82,8.2
118804,Terraria,PC,"May 16, 2011",Terraria offers players a chance to be an acti...,83,8.7
118805,Terraria,3DS,"December 10, 2015",Terraria? What's that?\r\n\r\nTerraria is a la...,71,7.4
118806,Terraria,iOS,"August 29, 2013","In Terraria, every world is unique -- from the...",82,7.2

## Dealing with issues with the Metacritic Dataset

So, after exploring the dataset on even a basic level, there are a few issues that are emerging that need to be addressed and planned for.

1. There are platforms within the critic dataset that do not exist within the VGsales dataset and have issues that may need to be separated from our dataset. For example, Stadia is not really a "platform", it used to be a cloud gaming service. It has since been shutdown, and as it is a service, there is no way to actively use the service anymore. Another example is the iOS, we are not using sales data for Android, Windows Phone, iOS or any mobile based games. But they exist within the metacritic dataset.

2. To add to the issue above, since we have aggregated the values of the VGSales dataset across all platforms that exist within the 'Platform' series in the dataset. From a prelimenary look, the metacritic dataset excludes retro platforms such as the gameboy, the NES, SNES, Sega Saturn etc. Generally, game titles will rarely span and appear across both modern and retro platforms. So I do not see this to be much of an issue, but it is something we need to keep in mind going further.

3. There are certain platforms that are missing metascore or userscores and are showing up as TBD. There are a few issues on this one to resolve in of itself.
    - When merging the titles into a unique title, and aggregating their meta and user scores, how do we deal with TBD? Are they included into the average? Do we leave them off? 
    - If a game does not have a metascore but has a userscore or vice-versa, does this provided any meaningful data to achieve our goal of this analysis?
    - If it does not, then should we remove all data with a score that is TBD?
  
Let's run with a hypothetical, and map out what would happen.

Terraria has 11 entries.

In [30]:
terraria_data_check = critic_filtered_dups[critic_filtered_dups['name'] == "Terraria"]
terraria_data_check

,name,platform,release_date,summary,metascore,userscore
118796,Terraria,Stadia,"March 18, 2021",Terraria? What's that?\r\n\r\nTerraria is a la...,tbd,6.9
118797,Terraria,PlayStation Vita,"December 17, 2013","Terraria is a side-scrolling, action-adventure...",85,8.0
118798,Terraria,Xbox 360,"March 27, 2013",Terraria? What's that?\r\n\r\nTerraria is a la...,81,7.3
118799,Terraria,Wii U,"June 16, 2016",Terraria? What's that?\r\n\r\nTerraria is a la...,tbd,7.3
118800,Terraria,Xbox One,"November 14, 2014",Terraria? What's that?\r\n\r\nTerraria is a la...,84,8.0
118801,Terraria,PlayStation 4,"November 11, 2014",Terraria? What's that?\r\n\r\nTerraria is a la...,83,7.8
118802,Terraria,PlayStation 3,"March 26, 2013",Terraria? What's that?\r\n\r\nTerraria is a la...,81,8.1
118803,Terraria,Switch,"June 27, 2019",Terraria? What's that?\r\n\r\nTerraria is a la...,82,8.2
118804,Terraria,PC,"May 16, 2011",Terraria offers players a chance to be an acti...,83,8.7
118805,Terraria,3DS,"December 10, 2015",Terraria? What's that?\r\n\r\nTerraria is a la...,71,7.4
118806,Terraria,iOS,"August 29, 2013","In Terraria, every world is unique -- from the...",82,7.2

In [31]:
## If we were to aggregate all scores and include all TBD scores
# and set them as 0 and include them in the average (which is total/11), then:

print("Metascore:", round(terraria_data_check['metascore'].replace('tbd', 0).astype(float).mean(),0)/10)
print("Userscore:", round(terraria_data_check['userscore'].replace('tbd', 0).astype(float).mean(),1))

Metascore: 6.7
Userscore: 7.7

In [32]:
## If we were to aggregate all scores and include all TBD scores
# and set them as 50 and include them in the average (which is total/11), then:

print("Metascore:", round(terraria_data_check['metascore'].replace('tbd', 50).astype(float).mean(),0)/10)
print("Userscore:", round(terraria_data_check['userscore'].replace('tbd', 50).astype(float).mean(),1))

Metascore: 7.6
Userscore: 7.7

In [33]:
## Now if we were to aggregate all scores and exclude all rows with TBD scores (including the user scores) 
## this would remove the Stadia and Wii U rows. The average would now become total/9:

no_tbd = terraria_data_check[(terraria_data_check['metascore'] != 'tbd') & (terraria_data_check['userscore'] != 'tbd')]

print("Metascore:", round(no_tbd['metascore'].astype(float).mean(),0)/10)
print("Userscore:", round(no_tbd['userscore'].astype(float).mean(),1))

Metascore: 8.1
Userscore: 7.9

In [34]:
## Let's then take the last step. Let's remove the iOS row as well
## as this would align this dataset with our other one. The average would now become total/8:

no_tbd_ios = no_tbd[no_tbd['platform'] != 'iOS']

print("Metascore:", round(no_tbd_ios['metascore'].astype(float).mean(),0)/10)
print("Userscore:", round(no_tbd_ios['userscore'].astype(float).mean(),1))

Metascore: 8.1
Userscore: 7.9

So, as we can see, the scores would swing by a large amount.

So, which one is correct? Which one is best?

One thing we do know is that we need to remove iOS and Stadia as it would just clash with the data in the VGSales dataset.

However, the WiiU platform sales are included in the aggregated sales dataset of a title. If anything, it's important for all platforms that were aggregated within the VGSales Dataset to also be included in the metacritic dataset.

So, we keep need to keep all TBDs. But how do we deal with them? Treating them as a 0 would skew the data incredibly and would provide inaccurate data.

Setting them as the static value of 50 would be fine, but it would still skew the data. If, on average, the rest of the scores on the dataset are >50 or even <50 by a large amount, it would skew the data.

There are two ways to deal with this issue.

1. We could set the TBDs to 50, and then use the median or the mode values. This would generally be a solid approach, however I am hesitant as there could be titles with a large amount of TBDs. For example, if we were to assume there are 9 platforms, and we have scores of 70-80 for 4 of them, and then assigned 50 for all other 5 platforms that have TBD values, then mode would return 50, and median would also return 50. This is an extreme example, however in order to make sure this does not happen, we would have to do extra work in order to make that accurate.

2. Get the average of all other column values that are not TBD, and assign this to the missing TBD values. This will keep the average values generally stable across multiple platforms. It could provide some variance in certain areas, however, in general, the data will be the least skewed like this.

So, our To-Do List for this is:

- Remove all rows with platforms that do not exist within the VGSales Dataset
- Replace all TBD scores for each title with a value that is the average of the non-TBD values of that title.

So to do the first task, I need a list of platforms from the VGSales Dataset, and then use that to filter out from the metacritic dataset.

In [35]:
## Create a list of platforms from the original VGSales dataset 

platform_list = vgsales_data['Platform'].unique().tolist()

platform_list

['Wii',
 'NES',
 'GB',
 'DS',
 'X360',
 'PS3',
 'PS2',
 'SNES',
 'GBA',
 '3DS',
 'PS4',
 'N64',
 'PS',
 'XB',
 'PC',
 '2600',
 'PSP',
 'XOne',
 'GC',
 'WiiU',
 'GEN',
 'DC',
 'PSV',
 'SAT',
 'SCD',
 'WS',
 'NG',
 'TG16',
 '3DO',
 'GG',
 'PCFX']

In [36]:
modified_critic_data = critic_data

critic_platform_list = modified_critic_data["platform"].unique().tolist()

critic_platform_list

['PC',
 'Wii',
 'iOS',
 'PlayStation 4',
 'Switch',
 'Xbox One',
 'PlayStation Vita',
 'PlayStation 3',
 'PlayStation 5',
 'Xbox 360',
 'PlayStation 2',
 'Wii U',
 'PlayStation',
 'DS',
 'Nintendo 64',
 '3DS',
 'PSP',
 'GameCube',
 'Dreamcast',
 'Xbox',
 'Xbox Series X',
 'Stadia',
 'Game Boy Advance']

We've hit another roadblock. It's clear that the platforms from both lists do not match, as one uses abbreviations and the other one doesn't. So, we need to map this out via a dictionary.

In [37]:
## Create a dictionary to map out the replacements for the platform names

platform_map = {
    'PlayStation 4': 'PS4',
    'Xbox One': 'XOne',
    'PlayStation Vita': 'PSV',
    'PlayStation 3': 'PS3',
    'PlayStation 5': 'PS5',
    'Xbox 360': 'X360',
    'PlayStation 2': 'PS2',
    'Wii U': 'WiiU',
    'PlayStation': 'PS',
    'Nintendo 64': 'N64',
    'GameCube': 'GC',
    'Dreamcast': 'DC',
    'Xbox': 'XB',
    'Game Boy Advance': 'GBA'
}

modified_critic_data['platform'] = modified_critic_data['platform'].replace(platform_map)

modified_critic_data = modified_critic_data[modified_critic_data["platform"].isin(platform_list)]

unique_critic_list = modified_critic_data['platform'].unique()
unique_critic_list

array(['PC', 'Wii', 'PS4', 'XOne', 'PSV', 'PS3', 'X360', 'PS2', 'WiiU',
       'PS', 'DS', 'N64', '3DS', 'PSP', 'GC', 'DC', 'XB', 'GBA'],
      dtype=object)

In [38]:
unique_sales_list = vgsales_data['Platform'].unique()
unique_sales_list

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [39]:
## Check which platforms exist in both lists:

def check_list(l_one, l_two):
    for ele in range(len(l_one)):
        if l_one[ele] in l_two:
            print(l_one[ele], " True")
        else:
            print(l_one[ele], " False")
check_list(unique_sales_list, unique_critic_list)

Wii  True
NES  False
GB  False
DS  True
X360  True
PS3  True
PS2  True
SNES  False
GBA  True
3DS  True
PS4  True
N64  True
PS  True
XB  True
PC  True
2600  False
PSP  True
XOne  True
GC  True
WiiU  True
GEN  False
DC  True
PSV  True
SAT  False
SCD  False
WS  False
NG  False
TG16  False
3DO  False
GG  False
PCFX  False

Looking at the list above, I'm fairly confident that there will be no sales that will span across modern and retro consoles.

In [59]:
def avg_score(x):
    counter = 0
    sum = 0
    for val in range(len(x)):
        if x[val] != "tbd":
            sum += x[val]
            counter += 1
    return(sum/counter)

grouped_critic_data = modified_critic_data.groupby(by='name')